.div_longitud{
    width: 100%;
    height: 100%;
    margin-top: 30px;
}
.div_peso{
    width: 100%;
    height: 100%;
    margin-top: 30px;
}
.div_tiempo{
    width: 100%;
    height: 100%;
    margin-top: 30px;
}




.head_{
    width: 100%;
    height: 30px;
    color: rgb(44, 44, 44);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head_ h2{
    font-weight: unset;
}
.body_long{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
    margin-top: 30px;
}

.box_s{
    width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    padding-top: 10px;

}
.select_one{
    width: 90%;
    background-color: #fff;
    height: 30px;
    outline-style: none;
    color: rgb(0, 116, 124);
}
.number{
    width: 88%;
    background-color: rgb(255, 255, 255);
    height: 25px;
    outline: none;
    border: 0.7px solid rgb(131, 131, 131);
}
.select_two{
    width: 90%;
    background-color: #fff;
    height: 30px;
    outline-style: none;
    color: rgb(0, 116, 124);
}



.select_uno{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.numero{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.select_dos{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.resultado{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn_jsh{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn{
    width: 100%;
    height: 35px;
    outline: none;
    border: 0;
    font-family: sans-serif;
    font-size: 18px;
    cursor: pointer;
    background-color: #ddd;
}
.btn :hover{
    background-color: rgb(107, 105, 105);
}
.resultado_long{
    width: 80%;
    height: 100%;
    border: 1px solid #ddd;
    font-family: sans-serif;
    color: rgb(41, 41, 41);
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    overflow-x:auto;
}
.resultado_long p{
    width: 100%;
    display: flex;
}

/* div peso conversion*/
.div_peso{
    width: 100%;
    height: 100%;
}


/* div tiempo conversion */
.div_tiempo{
    width: 100%;
    height: 100%;
}

/* div calcular distancia */
.div_distancia{
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.box_distancia{
    width: 40%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
}
.input_{
    width: 80%;
    height: 30px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.input_cal{
    border: 0.1px solid rgb(80, 80, 80);
    width: 70%;
    outline: none;
}
#dis_select_uno{
    width: 30%;
    height: 30px;
    outline-style: none;
    color: rgb(0, 116, 124);
}
.input_dos{
    width: 80%;
    height: 30px;
    display: flex;
    margin-top: 10px;
    
}
#dis_tiempo{
    width: 70%;
}
#dis_select_dos{
    width:  30%;
    height: 30px;
    outline-style: none;
    color: rgb(0, 116, 124);
}
.resultado_cal{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    font-family: sans-serif;
}

.div_resultado_cal{
    width: 80%;
    height: 150px;
    border: 1px solid rgb(32, 32, 32);
    border-radius: 10px;
    font-family: sans-serif;
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    overflow-x: auto;
    color: rgb(29, 29, 29);
}
.div_resultado_cal p{
    font-size: 20px;
}

/* div calcular velocidad */
.div_velocidad{
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

#vel_distancia{
    width: 70%;
    
}
#vel_select_uno{
    width: 30%;
    height: 30px;
    outline-style: none;
    color: rgb(0, 116, 124);
}
#vel_select_dos{
    width: 30%;
    height: 30px;
    outline-style: none;
    color: rgb(0, 116, 124);
}
#vel_tiempo{
    width: 70%;
}


/* div calcular tiempo */
.div_tiempo_c{
    width: 100%;
    height: 100%;
    margin-top: 30px;
}
#tiem_distancia{
    width: 70%;
}
#tiem_select_uno{
    width: 30%;
    height: 30px;
    outline-style: none;
    color: rgb(0, 116, 124);
}
#tiem_select_dos{
    width: 30%;
    height: 30px;
    outline-style: none;
    color: rgb(0, 116, 124);
}
#tiem_velocidad{
    width: 70%;
}




@media only screen and (max-width: 500px){
    .table{
        display: none;
    }
   

    .body_long{
        width: 100%;
        height: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        float: left;
    }
    .head_{
        width: 100%;
        height: 30px;
        background-color: rgb(0, 148, 20);
        color: #fff;
        font-family: sans-serif;
        display: flex;
        align-items: center;
        padding-left: 5px;
        box-sizing: border-box;
        font-size: 12px;
    }
    #select_uno{
        width: 100%;
        background-color: #fff;
        border: 0;
        height: 30px;
        outline-style: none;
        color: rgb(0, 116, 124);
        
    }
    #num{
        width: 100%;
        background-color: rgb(255, 255, 255);
        border: 0;
        height: 30px;
        outline-style: none;
    }
    #select_dos{
        width: 100%;
        background-color: #fff;
        border: 0;
        height: 30px;
        outline-style: none;
        color: rgb(0, 116, 124);
    }

    /* masa */
    .head_peso{
        width: 100%;
        height: 30px;
        background-color: rgb(0, 148, 20);
        color: #fff;
        font-family: sans-serif;
        display: flex;
        align-items: center;
        padding-left: 5px;
        box-sizing: border-box;
        font-size: 12px;
    }
    #select_unoP{
        width: 100%;
        background-color: #fff;
        border: 0;
        height: 30px;
        outline-style: none;
        color: rgb(0, 116, 124);
    }
    #numP{
        width: 100%;
        background-color: rgb(255, 255, 255);
        border: 0;
        height: 30px;
        outline-style: none;
    }
    #select_dosP{
        width: 100%;
        background-color: #fff;
        border: 0;
        height: 30px;
        outline-style: none;
        color: rgb(0, 116, 124);
    }

    /* tiempo */
    .head_tiempo{
        width: 100%;
        height: 30px;
        background-color: rgb(0, 148, 20);
        color: #fff;
        font-family: sans-serif;
        display: flex;
        align-items: center;
        padding-left: 5px;
        box-sizing: border-box;
        font-size: 12px;
    }
    #select_unoT{
        width: 100%;
        background-color: #fff;
        border: 0;
        height: 30px;
        outline-style: none;
        color: rgb(0, 116, 124);
    }
    #numT{
        width: 100%;
        background-color: rgb(255, 255, 255);
        border: 0;
        height: 30px;
        outline-style: none;
    }
    #select_dosT{
        width: 100%;
        background-color: #fff;
        border: 0;
        height: 30px;
        outline-style: none;
        color: rgb(0, 116, 124);
    }

    /* distancia */
    .box_distancia{
        width: 100%;
        height: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        float: left;
    }
   
    #dis_select_uno{
        width: 70px;
        background-color: #fff;
        border: 0;
        height: 30px;
        outline-style: none;
        color: rgb(0, 116, 124);
    }
   
    #dis_select_dos{
        width: 70px;
        background-color: #fff;
        border: 0;
        height: 30px;
        outline-style: none;
        color: rgb(0, 116, 124);
    }

    /* velocidad */
    #vel_select_uno{
        width: 100px;
        background-color: #fff;
        border: 0;
        height: 30px;
        outline-style: none;
        color: rgb(0, 116, 124);
    }
    #vel_select_dos{
        width: 100px;
        background-color: #fff;
        border: 0;
        height: 30px;
        outline-style: none;
        color: rgb(0, 116, 124);
    }

    /* calcular tiempo */
    #tiem_select_uno{
        width: 120px;
        background-color: #fff;
        border: 0;
        height: 30px;
        outline-style: none;
        color: rgb(0, 116, 124);
    }
    #tiem_select_dos{
        width: 100px;
        background-color: #fff;
        border: 0;
        height: 30px;
        outline-style: none;
        color: rgb(0, 116, 124);
    }
}